.header {
    background-color: white;
    /* border-bottom: 1px solid black; */
}

.header__inner {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.header__nav {
    margin-right: 50px;
}

    .header__nav li {
        display: inline-block;
        margin: 0 70px;
        font-size: 18px;
        text-transform: uppercase;
    }

.header__links-list {
    display: flex;
    gap: 40px;
}

.header__link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

    .header__link img:hover {
        cursor: pointer;
    }

    .header__link img {
        width: 100%;
        height: 100%;
    }
